AcAzAdf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AcAzAdf"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"AzureSqlDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase'"
		},
		"ls_MachineLearning_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'ls_MachineLearning'"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().baseUrl}"
		},
		"SqlServer_OnPremises_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "acaznevm"
		},
		"ls_MachineLearning_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "87cfcf1d-a755-46d8-9fad-1038ad31fa27"
		},
		"ls_MachineLearning_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "MLService"
		},
		"ls_MachineLearning_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "2e126bef-c545-4f28-8b62-ddfaf854b0ad"
		},
		"ls_MachineLearning_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "34aa038a-43ff-4f1c-8315-4d477a9cfe29"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageLoad_Delimited')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Blob storage load of Delimited file",
				"activities": [
					{
						"name": "Blob To SqlServer Load",
						"description": "Delimited Load from Azure Blob Storage to Sql Server",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureBlobStorage_Delimited",
								"type": "DatasetReference",
								"parameters": {
									"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/",
									"columnDelimiter": ";",
									"escapeCharacter": "\\",
									"quoteCharacter": "\""
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServer_OnPremises",
								"type": "DatasetReference",
								"parameters": {
									"baseURL": "https://AcAzEuKeyVault.vault.azure.net/",
									"TargetSchema": "dm",
									"TargetTable": "VaultspeedObject2"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Purchasing & Inventory/Utility"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-23T13:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobStorage_Delimited')]",
				"[concat(variables('factoryId'), '/datasets/SqlServer_OnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Vaultspeed Object Lineage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Loads Vaultspeed Object Lineage",
				"activities": [
					{
						"name": "Blob To SqlServer Load",
						"description": "Delimited Load from Azure Blob Storage to Sql Server",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "FileName",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE DC.VaultSpeedLineageObject_Staged"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "datavault",
											"type": "String"
										},
										"sink": {
											"name": "datavault",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "src_name",
											"type": "String"
										},
										"sink": {
											"name": "src_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "src_name_in_bk",
											"type": "String"
										},
										"sink": {
											"name": "src_name_in_bk",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "record_src_name",
											"type": "String"
										},
										"sink": {
											"name": "record_src_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "src_short_name",
											"type": "String"
										},
										"sink": {
											"name": "src_short_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "src_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "src_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "cdc_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "cdc_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ini_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "ini_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "stg_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "stg_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dv_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "dv_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bv_physical_schema",
											"type": "String"
										},
										"sink": {
											"name": "bv_physical_schema",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "src_table_name",
											"type": "String"
										},
										"sink": {
											"name": "src_table_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "stg_table_name",
											"type": "String"
										},
										"sink": {
											"name": "stg_table_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "stg_table_short_name",
											"type": "String"
										},
										"sink": {
											"name": "stg_table_short_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "stg_table_abbreviated_name",
											"type": "String"
										},
										"sink": {
											"name": "stg_table_abbreviated_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "record_src_value",
											"type": "String"
										},
										"sink": {
											"name": "record_src_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dv_table_name",
											"type": "String"
										},
										"sink": {
											"name": "dv_table_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dv_table_type",
											"type": "String"
										},
										"sink": {
											"name": "dv_table_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bv_table_type",
											"type": "String"
										},
										"sink": {
											"name": "bv_table_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bv_table_type_description",
											"type": "String"
										},
										"sink": {
											"name": "bv_table_type_description",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "bv_table_name",
											"type": "String"
										},
										"sink": {
											"name": "bv_table_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dv_linked_tables",
											"type": "String"
										},
										"sink": {
											"name": "dv_linked_tables",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureBlobStorage_Delimited_Blob",
								"type": "DatasetReference",
								"parameters": {
									"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/",
									"columnDelimiter": ";",
									"escapeCharacter": "\\",
									"quoteCharacter": "\""
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServer_OnPremises",
								"type": "DatasetReference",
								"parameters": {
									"baseURL": "https://AcAzEuKeyVault.vault.azure.net/",
									"TargetSchema": "DC",
									"TargetTable": "VaultSpeedLineageObject_Staged"
								}
							}
						]
					},
					{
						"name": "Merge VS ObjectRelation",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Blob To SqlServer Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DC].[MergeVaultSpeedObjectRelation]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_OnPremises",
							"type": "LinkedServiceReference",
							"parameters": {
								"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
							}
						}
					}
				],
				"folder": {
					"name": "13_Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-23T13:37:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobStorage_Delimited_Blob')]",
				"[concat(variables('factoryId'), '/datasets/SqlServer_OnPremises')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_OnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Check Connections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "2_Preload"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Configure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "3_Configure"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "1_Connect"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "6_Extract"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "7_PostExtract"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect_copy3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "8_PreStage"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect_copy4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "9_Stage"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Connect_copy5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "5_PreExtract"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "20_Deinitialize"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "10_PostStage"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy10')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "13_Load"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "11_Transform"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "12_Preload"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "15_Balance"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "16_Maintain"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "17_Bridge"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "18_Materialize"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "19_Report"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Denitialize_copy9')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "14_PostLoad"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Initialize')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "0_Initialize"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T12:58:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Preload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "2_Preload"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Placeholder Validate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "4_Validate"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-14T13:15:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Delimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"parameters": {
					"baseUrl": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ";"
					},
					"escapeCharacter": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					}
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "VaultspeedObject.csv",
						"container": "vaultspeed"
					},
					"columnDelimiter": {
						"value": "@dataset().columnDelimiter",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escapeCharacter",
						"type": "Expression"
					},
					"firstRowAsHeader": true,
					"quoteChar": {
						"value": "@dataset().quoteCharacter",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Delimited_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"parameters": {
					"baseUrl": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ";"
					},
					"escapeCharacter": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					}
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "VaultspeedLineage/Object",
						"container": "africanbank"
					},
					"columnDelimiter": {
						"value": "@dataset().columnDelimiter",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escapeCharacter",
						"type": "Expression"
					},
					"firstRowAsHeader": true,
					"quoteChar": {
						"value": "@dataset().quoteCharacter",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Delimited_Blob_Attribute')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"parameters": {
					"baseUrl": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					},
					"columnDelimiter": {
						"type": "string",
						"defaultValue": ";"
					},
					"escapeCharacter": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					}
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "VaultspeedLineage/Attribute",
						"container": "africanbank"
					},
					"columnDelimiter": {
						"value": "@dataset().columnDelimiter",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escapeCharacter",
						"type": "Expression"
					},
					"firstRowAsHeader": true,
					"quoteChar": {
						"value": "@dataset().quoteCharacter",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sample1.xlsx",
						"folderPath": "xlsx",
						"container": "test"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "arm_template.json",
						"folderPath": "json",
						"container": "test"
					},
					"encodingName": "UTF-8"
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Xml')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStroage_Binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_OnPremises')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_OnPremises",
					"type": "LinkedServiceReference",
					"parameters": {
						"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					},
					"TargetSchema": {
						"type": "string",
						"defaultValue": "dm"
					},
					"TargetTable": {
						"type": "string",
						"defaultValue": "VaultspeedObject"
					}
				},
				"folder": {
					"name": "Database"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TargetSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TargetTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_OnPremises')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_AzureBlobStorage_Delimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AzureBlobStorage/Procurement"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "result.csv",
						"folderPath": "sap_ariba",
						"container": "saec"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_AzureSqlServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"AzureKeyVaultBaseUrl": "https://acazeukeyvault.vault.azure.net/"
					}
				},
				"folder": {
					"name": "Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "inout",
					"table": "arm_template"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_saec_powerbi_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic Destination Table for the SQL Azure Server, will be changed to be dynamic based on the values the foreach loop passes",
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityName": {
						"type": "string",
						"defaultValue": "EntityName"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"folder": {
					"name": "Purchasing/3_Load"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MANDT",
						"type": "nvarchar"
					},
					{
						"name": "EBELN",
						"type": "nvarchar"
					},
					{
						"name": "BUKRS",
						"type": "nvarchar"
					},
					{
						"name": "BSTYP",
						"type": "nvarchar"
					},
					{
						"name": "BSART",
						"type": "nvarchar"
					},
					{
						"name": "BSAKZ",
						"type": "nvarchar"
					},
					{
						"name": "LOEKZ",
						"type": "nvarchar"
					},
					{
						"name": "STATU",
						"type": "nvarchar"
					},
					{
						"name": "AEDAT",
						"type": "nvarchar"
					},
					{
						"name": "ERNAM",
						"type": "nvarchar"
					},
					{
						"name": "LASTCHANGEDATETIME",
						"type": "decimal",
						"precision": 27,
						"scale": 7
					},
					{
						"name": "PINCR",
						"type": "nvarchar"
					},
					{
						"name": "LPONR",
						"type": "nvarchar"
					},
					{
						"name": "LIFNR",
						"type": "nvarchar"
					},
					{
						"name": "SPRAS",
						"type": "nvarchar"
					},
					{
						"name": "ZTERM",
						"type": "nvarchar"
					},
					{
						"name": "ZBD1T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD2T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD3T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD1P",
						"type": "decimal",
						"precision": 6,
						"scale": 3
					},
					{
						"name": "ZBD2P",
						"type": "decimal",
						"precision": 6,
						"scale": 3
					},
					{
						"name": "EKORG",
						"type": "nvarchar"
					},
					{
						"name": "EKGRP",
						"type": "nvarchar"
					},
					{
						"name": "WAERS",
						"type": "nvarchar"
					},
					{
						"name": "WKURS",
						"type": "decimal",
						"precision": 12,
						"scale": 5
					},
					{
						"name": "KUFIX",
						"type": "nvarchar"
					},
					{
						"name": "BEDAT",
						"type": "nvarchar"
					},
					{
						"name": "KDATB",
						"type": "nvarchar"
					},
					{
						"name": "KDATE",
						"type": "nvarchar"
					},
					{
						"name": "BWBDT",
						"type": "nvarchar"
					},
					{
						"name": "ANGDT",
						"type": "nvarchar"
					},
					{
						"name": "BNDDT",
						"type": "nvarchar"
					},
					{
						"name": "GWLDT",
						"type": "nvarchar"
					},
					{
						"name": "AUSNR",
						"type": "nvarchar"
					},
					{
						"name": "ANGNR",
						"type": "nvarchar"
					},
					{
						"name": "IHRAN",
						"type": "nvarchar"
					},
					{
						"name": "IHREZ",
						"type": "nvarchar"
					},
					{
						"name": "VERKF",
						"type": "nvarchar"
					},
					{
						"name": "TELF1",
						"type": "nvarchar"
					},
					{
						"name": "LLIEF",
						"type": "nvarchar"
					},
					{
						"name": "KUNNR",
						"type": "nvarchar"
					},
					{
						"name": "KONNR",
						"type": "nvarchar"
					},
					{
						"name": "ABGRU",
						"type": "nvarchar"
					},
					{
						"name": "AUTLF",
						"type": "nvarchar"
					},
					{
						"name": "WEAKT",
						"type": "nvarchar"
					},
					{
						"name": "RESWK",
						"type": "nvarchar"
					},
					{
						"name": "LBLIF",
						"type": "nvarchar"
					},
					{
						"name": "INCO1",
						"type": "nvarchar"
					},
					{
						"name": "INCO2",
						"type": "nvarchar"
					},
					{
						"name": "KTWRT",
						"type": "decimal",
						"precision": 20,
						"scale": 2
					},
					{
						"name": "SUBMI",
						"type": "nvarchar"
					},
					{
						"name": "KNUMV",
						"type": "nvarchar"
					},
					{
						"name": "KALSM",
						"type": "nvarchar"
					},
					{
						"name": "STAFO",
						"type": "nvarchar"
					},
					{
						"name": "LIFRE",
						"type": "nvarchar"
					},
					{
						"name": "EXNUM",
						"type": "nvarchar"
					},
					{
						"name": "UNSEZ",
						"type": "nvarchar"
					},
					{
						"name": "LOGSY",
						"type": "nvarchar"
					},
					{
						"name": "UPINC",
						"type": "nvarchar"
					},
					{
						"name": "STAKO",
						"type": "nvarchar"
					},
					{
						"name": "FRGGR",
						"type": "nvarchar"
					},
					{
						"name": "FRGSX",
						"type": "nvarchar"
					},
					{
						"name": "FRGKE",
						"type": "nvarchar"
					},
					{
						"name": "FRGZU",
						"type": "nvarchar"
					},
					{
						"name": "FRGRL",
						"type": "nvarchar"
					},
					{
						"name": "LANDS",
						"type": "nvarchar"
					},
					{
						"name": "LPHIS",
						"type": "nvarchar"
					},
					{
						"name": "ADRNR",
						"type": "nvarchar"
					},
					{
						"name": "STCEG_L",
						"type": "nvarchar"
					},
					{
						"name": "STCEG",
						"type": "nvarchar"
					},
					{
						"name": "ABSGR",
						"type": "nvarchar"
					},
					{
						"name": "ADDNR",
						"type": "nvarchar"
					},
					{
						"name": "KORNR",
						"type": "nvarchar"
					},
					{
						"name": "MEMORY",
						"type": "nvarchar"
					},
					{
						"name": "PROCSTAT",
						"type": "nvarchar"
					},
					{
						"name": "RLWRT",
						"type": "decimal",
						"precision": 20,
						"scale": 2
					},
					{
						"name": "REVNO",
						"type": "nvarchar"
					},
					{
						"name": "SCMPROC",
						"type": "nvarchar"
					},
					{
						"name": "REASON_CODE",
						"type": "nvarchar"
					},
					{
						"name": "MEMORYTYPE",
						"type": "nvarchar"
					},
					{
						"name": "RETTP",
						"type": "nvarchar"
					},
					{
						"name": "RETPC",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "DPTYP",
						"type": "nvarchar"
					},
					{
						"name": "DPPCT",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "DPAMT",
						"type": "decimal",
						"precision": 14,
						"scale": 2
					},
					{
						"name": "DPDAT",
						"type": "nvarchar"
					},
					{
						"name": "MSR_ID",
						"type": "nvarchar"
					},
					{
						"name": "HIERARCHY_EXISTS",
						"type": "nvarchar"
					},
					{
						"name": "THRESHOLD_EXISTS",
						"type": "nvarchar"
					},
					{
						"name": "LEGAL_CONTRACT",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "RELEASE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "VSART",
						"type": "nvarchar"
					},
					{
						"name": "HANDOVERLOC",
						"type": "nvarchar"
					},
					{
						"name": "SHIPCOND",
						"type": "nvarchar"
					},
					{
						"name": "INCOV",
						"type": "nvarchar"
					},
					{
						"name": "INCO2_L",
						"type": "nvarchar"
					},
					{
						"name": "INCO3_L",
						"type": "nvarchar"
					},
					{
						"name": "GRWCU",
						"type": "nvarchar"
					},
					{
						"name": "INTRA_REL",
						"type": "nvarchar"
					},
					{
						"name": "INTRA_EXCL",
						"type": "nvarchar"
					},
					{
						"name": "QTN_ERLST_SUBMSN_DATE",
						"type": "nvarchar"
					},
					{
						"name": "FOLLOWON_DOC_CAT",
						"type": "nvarchar"
					},
					{
						"name": "FOLLOWON_DOC_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "DUMMY_EKKO_INCL_EEW_PS",
						"type": "nvarchar"
					},
					{
						"name": "EXTERNALSYSTEM",
						"type": "nvarchar"
					},
					{
						"name": "EXTERNALREFERENCEID",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REV_TMSTMP",
						"type": "decimal",
						"precision": 27,
						"scale": 7
					},
					{
						"name": "ISEOPBLOCKED",
						"type": "nvarchar"
					},
					{
						"name": "ISAGED",
						"type": "nvarchar"
					},
					{
						"name": "FORCE_ID",
						"type": "nvarchar"
					},
					{
						"name": "FORCE_CNT",
						"type": "nvarchar"
					},
					{
						"name": "RELOC_ID",
						"type": "nvarchar"
					},
					{
						"name": "RELOC_SEQ_ID",
						"type": "nvarchar"
					},
					{
						"name": "SOURCE_LOGSYS",
						"type": "nvarchar"
					},
					{
						"name": "FSH_TRANSACTION",
						"type": "nvarchar"
					},
					{
						"name": "FSH_ITEM_GROUP",
						"type": "nvarchar"
					},
					{
						"name": "FSH_VAS_LAST_ITEM",
						"type": "nvarchar"
					},
					{
						"name": "FSH_OS_STG_CHANGE",
						"type": "nvarchar"
					},
					{
						"name": "OIEXGNUM",
						"type": "nvarchar"
					},
					{
						"name": "OIEXGTYP",
						"type": "nvarchar"
					},
					{
						"name": "OIAEVGTYPE",
						"type": "nvarchar"
					},
					{
						"name": "OIPIPEVAL",
						"type": "nvarchar"
					},
					{
						"name": "OIC_LIFNR",
						"type": "nvarchar"
					},
					{
						"name": "OIC_DCITYC",
						"type": "nvarchar"
					},
					{
						"name": "OIC_DCOUNC",
						"type": "nvarchar"
					},
					{
						"name": "OIC_DREGIO",
						"type": "nvarchar"
					},
					{
						"name": "OIC_DLAND1",
						"type": "nvarchar"
					},
					{
						"name": "OIC_OCITYC",
						"type": "nvarchar"
					},
					{
						"name": "OIC_OCOUNC",
						"type": "nvarchar"
					},
					{
						"name": "OIC_OREGIO",
						"type": "nvarchar"
					},
					{
						"name": "OIC_OLAND1",
						"type": "nvarchar"
					},
					{
						"name": "OIC_PORGIN",
						"type": "nvarchar"
					},
					{
						"name": "OIC_PDESTN",
						"type": "nvarchar"
					},
					{
						"name": "OIC_PTRIP",
						"type": "nvarchar"
					},
					{
						"name": "OIC_PBATCH",
						"type": "nvarchar"
					},
					{
						"name": "OIC_MOT",
						"type": "nvarchar"
					},
					{
						"name": "OIC_AORGIN",
						"type": "nvarchar"
					},
					{
						"name": "OIC_ADESTN",
						"type": "nvarchar"
					},
					{
						"name": "OIC_TRUCKN",
						"type": "nvarchar"
					},
					{
						"name": "OIA_BASELO",
						"type": "nvarchar"
					},
					{
						"name": "OID_EXTBOL",
						"type": "nvarchar"
					},
					{
						"name": "OID_MISCDL",
						"type": "nvarchar"
					},
					{
						"name": "TMS_REF_UUID",
						"type": "nvarchar"
					},
					{
						"name": "ZZDUMMY",
						"type": "nvarchar"
					},
					{
						"name": "ZZDATA1",
						"type": "nvarchar"
					},
					{
						"name": "ZZDATA2",
						"type": "nvarchar"
					},
					{
						"name": "ZZDATA3",
						"type": "nvarchar"
					},
					{
						"name": "ZZDATA4",
						"type": "nvarchar"
					},
					{
						"name": "ZAPCGK",
						"type": "nvarchar"
					},
					{
						"name": "APCGK_EXTEND",
						"type": "nvarchar"
					},
					{
						"name": "ZBAS_DATE",
						"type": "nvarchar"
					},
					{
						"name": "ZADATTYP",
						"type": "nvarchar"
					},
					{
						"name": "ZSTART_DAT",
						"type": "nvarchar"
					},
					{
						"name": "Z_DEV",
						"type": "decimal",
						"precision": 7,
						"scale": 3
					},
					{
						"name": "ZINDANX",
						"type": "nvarchar"
					},
					{
						"name": "ZLIMIT_DAT",
						"type": "nvarchar"
					},
					{
						"name": "NUMERATOR",
						"type": "nvarchar"
					},
					{
						"name": "HASHCAL_BDAT",
						"type": "nvarchar"
					},
					{
						"name": "HASHCAL",
						"type": "nvarchar"
					},
					{
						"name": "NEGATIVE",
						"type": "nvarchar"
					},
					{
						"name": "HASHCAL_EXISTS",
						"type": "nvarchar"
					},
					{
						"name": "KNOWN_INDEX",
						"type": "nvarchar"
					},
					{
						"name": "POSTAT",
						"type": "nvarchar"
					},
					{
						"name": "VZSKZ",
						"type": "nvarchar"
					},
					{
						"name": "FSH_SNST_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "PROCE",
						"type": "nvarchar"
					},
					{
						"name": "CONC",
						"type": "nvarchar"
					},
					{
						"name": "CONT",
						"type": "nvarchar"
					},
					{
						"name": "COMP",
						"type": "nvarchar"
					},
					{
						"name": "OUTR",
						"type": "nvarchar"
					},
					{
						"name": "DESP",
						"type": "nvarchar"
					},
					{
						"name": "DESP_DAT",
						"type": "nvarchar"
					},
					{
						"name": "DESP_CARGO",
						"type": "nvarchar"
					},
					{
						"name": "PARE",
						"type": "nvarchar"
					},
					{
						"name": "PARE_DAT",
						"type": "nvarchar"
					},
					{
						"name": "PARE_CARGO",
						"type": "nvarchar"
					},
					{
						"name": "PFM_CONTRACT",
						"type": "nvarchar"
					},
					{
						"name": "POHF_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "EQ_EINDT",
						"type": "nvarchar"
					},
					{
						"name": "EQ_WERKS",
						"type": "nvarchar"
					},
					{
						"name": "FIXPO",
						"type": "nvarchar"
					},
					{
						"name": "EKGRP_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "WERKS_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "CONTRACT_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "PSTYP_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "FIXPO_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "KEY_ID_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "AUREL_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "DELPER_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "EINDT_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "LTSNR_ALLOW",
						"type": "nvarchar"
					},
					{
						"name": "OTB_LEVEL",
						"type": "nvarchar"
					},
					{
						"name": "OTB_COND_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "KEY_ID",
						"type": "nvarchar"
					},
					{
						"name": "OTB_VALUE",
						"type": "decimal",
						"precision": 23,
						"scale": 2
					},
					{
						"name": "OTB_CURR",
						"type": "nvarchar"
					},
					{
						"name": "OTB_RES_VALUE",
						"type": "decimal",
						"precision": 22,
						"scale": 2
					},
					{
						"name": "OTB_SPEC_VALUE",
						"type": "decimal",
						"precision": 22,
						"scale": 2
					},
					{
						"name": "SPR_RSN_PROFILE",
						"type": "nvarchar"
					},
					{
						"name": "BUDG_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "OTB_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "OTB_REASON",
						"type": "nvarchar"
					},
					{
						"name": "CHECK_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "CON_OTB_REQ",
						"type": "nvarchar"
					},
					{
						"name": "CON_PREBOOK_LEV",
						"type": "nvarchar"
					},
					{
						"name": "CON_DISTR_LEV",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().EntityName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service to Azure Blob Storage",
				"parameters": {
					"baseUrl": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference",
							"parameters": {
								"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
							}
						},
						"secretName": "acazsancustblob"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for Azure Key Vault",
				"parameters": {
					"baseUrl": {
						"type": "String",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service to Azure Sql Database",
				"parameters": {
					"AzureKeyVaultBaseUrl": {
						"type": "string",
						"defaultValue": "https://acazeukeyvault.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference",
							"parameters": {
								"baseUrl": {
									"value": "@linkedService().AzureKeyVaultBaseUrl",
									"type": "Expression"
								}
							}
						},
						"secretName": "emilefraser"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_OnPremises')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Sql Server Linked Service to on premises server",
				"parameters": {
					"baseUrl": {
						"type": "string",
						"defaultValue": "https://AcAzEuKeyVault.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference",
							"parameters": {
								"baseUrl": "https://AcAzEuKeyVault.vault.azure.net/"
							}
						},
						"secretName": "[parameters('SqlServer_OnPremises_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "AcAzNeVmIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AcAzNeVmIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_MachineLearning')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('ls_MachineLearning_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ls_MachineLearning_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "RJMLService",
					"servicePrincipalId": "[parameters('ls_MachineLearning_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('ls_MachineLearning_servicePrincipalKey')]"
					},
					"tenant": "[parameters('ls_MachineLearning_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FunctionalTestingTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Used for functional testing of the framework in a dedicated environment.",
				"annotations": [
					"ADF.procfwk"
				],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2020-04-06T15:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AcAzNeVmIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration Runtime running on my Azure Vm (AcAzNeVM)",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PYROMANIC-integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration runtime on my personal machine",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}